<div class="features23-layout349 thq-section-padding">
  <div class="features23-max-width thq-section-max-width">
    <div class="features23-container">
      <h2 class="thq-heading-2">{{ heading1 }}</h2>
      <span class="features23-text01 thq-body-small">{{ content1 }}</span>
      <button class="thq-button-filled features23-button">
        <span class="thq-body-small">{{ action1 }}</span>
      </button>
    </div>
    <div class="thq-grid-3">
      <div class="features23-container2 thq-card">
        <img
          [attr.alt]="feature1ImageAlt"
          [attr.src]="feature1ImageSrc"
          class="features23-image thq-img-round"
        />
        <h2 class="thq-heading-2">{{ feature1Title }}</h2>
        <span class="features23-text03 thq-body-small">
          {{ feature1Description }}
        </span>
      </div>
      <div class="features23-container3 thq-card">
        <img
          [attr.alt]="feature2ImageAlt"
          [attr.src]="feature2ImageSrc"
          class="features23-image1 thq-img-round"
        />
        <h2 class="thq-heading-2">{{ feature2Title }}</h2>
        <span class="features23-text05 thq-body-small">
          {{ feature2Description }}
        </span>
      </div>
      <div class="features23-container4 thq-card">
        <img
          [attr.alt]="feature3ImageAlt"
          [attr.src]="feature3ImageSrc"
          class="features23-image2 thq-img-round"
        />
        <h2 class="thq-heading-2">{{ feature3Title }}</h2>
        <span class="features23-text07 thq-body-small">
          {{ feature3Description }}
        </span>
      </div>
      <div class="features23-container5 thq-card">
        <img
          [attr.alt]="feature4ImageAlt"
          [attr.src]="feature4ImageSrc"
          class="features23-image3 thq-img-round"
        />
        <h2 class="thq-heading-2">{{ feature4Title }}</h2>
        <span class="features23-text09 thq-body-small">
          {{ feature4Description }}
        </span>
      </div>
      <div class="features23-container6 thq-card">
        <img
          [attr.alt]="feature5ImageAlt"
          [attr.src]="feature5ImageSrc"
          class="features23-image4 thq-img-round"
        />
        <h2 class="thq-heading-2">{{ feature5Title }}</h2>
        <span class="features23-text11 thq-body-small">
          {{ feature5Description }}
        </span>
      </div>
      <div class="features23-container7 thq-card">
        <img
          [attr.alt]="feature6ImageAlt"
          [attr.src]="feature6ImageSrc"
          class="features23-image5 thq-img-round"
        />
        <h2 class="thq-heading-2">{{ feature6Title }}</h2>
        <span class="features23-text13 thq-body-small">
          {{ feature6Description }}
        </span>
      </div>
    </div>
  </div>
</div>
