<div class="thq-section-padding">
  <div class="thq-section-max-width">
    <div class="cta26-accent2-bg">
      <div class="cta26-accent1-bg">
        <div class="cta26-container1">
          <div class="cta26-content">
            <span class="thq-heading-2">{{ heading1 }}</span>
            <p class="thq-body-large">{{ content1 }}</p>
          </div>
          <div class="cta26-actions">
            <button type="button" class="thq-button-filled cta26-button">
              {{ action1 }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
