<div class="thq-section-padding">
  <h2 class="thq-heading-2">{{ feature1Title }}</h2>
  <div class="features24-container1 thq-section-max-width">
    <div class="features24-image-container">
      <img
        [attr.alt]="feature1ImgAlt"
        [attr.src]="feature1ImgSrc"
        class="features24-image thq-img-ratio-16-9"
      />
    </div>
    <div class="features24-tabs-menu">
      <div (click)="activeTab = 0" class="features24-tab-horizontal">
        <div class="features24-divider-container">
          <div *ngIf="activeTab === 0" class="features24-container2"></div>
        </div>
        <div class="features24-content">
          <span class="thq-body-small-price">{{ salePrice }}</span>
          <span class="thq-body-small">{{ feature1Description }}</span>
          <div class="home-search" (click)="_downloadApp()">
            Comprar agora pelo app
          </div>
        </div>
      </div>

      <!-- <div (click)="activeTab = 2" class="features24-tab-horizontal2">
        <div class="features24-divider-container2">
          <div *ngIf="activeTab === 2" class="features24-container4"></div>
        </div>
        <div class="features24-content2">
          <h2 class="thq-heading-2">{{ feature3Title }}</h2>
          <span class="thq-body-small">{{ feature3Description }}</span>
        </div>
      </div> -->
    </div>
  </div>
</div>
