<div class="contact10-container thq-section-padding">
  <div class="contact10-max-width thq-section-max-width">
    <div class="contact10-content thq-flex-row">
      <div class="contact10-content1">
        <h2 class="thq-heading-2">{{ heading1 }}</h2>
        <p class="thq-body-large">{{ content1 }}</p>
      </div>
    </div>
    <div class="contact10-content2 thq-flex-row">
      <div class="contact10-container1">
        <img
          [attr.alt]="location1ImageAlt"
          [attr.src]="location1ImageSrc"
          class="contact10-image thq-img-ratio-16-9"
        />
        <h3 class="contact10-text2 thq-heading-3">{{ location1 }}</h3>
        <p class="thq-body-large">{{ location1Description }}</p>
        <div class="contact10-container2">
          <span class="thq-button-flat thq-body-small">Get directions</span>
        </div>
      </div>
      <div class="contact10-container3">
        <img
          [attr.alt]="location2ImageAlt"
          [attr.src]="location2ImageSrc"
          class="contact10-image1 thq-img-ratio-16-9"
        />
        <h3 class="contact10-text5 thq-heading-3">{{ location2 }}</h3>
        <p class="thq-body-large">{{ location2Description }}</p>
        <div class="contact10-container4">
          <span class="thq-button-flat thq-body-small">Get directions</span>
        </div>
      </div>
    </div>
  </div>
</div>
