<div class="hero8-header26 thq-section-padding">
  <div class="hero8-max-width thq-flex-column thq-section-max-width">
    <div class="hero8-column">
      <div class="hero8-content">
        <h1 class="hero8-text thq-heading-1">{{ heading1 }}</h1>
        <p class="hero8-text1 thq-body-large">{{ content1 }}</p>
        <div class="hero8-actions">
          <button class="thq-button-filled hero8-button">
            <span class="thq-body-small">{{ action1 }}</span>
          </button>
          <button class="thq-button-outline hero8-button1">
            <span class="thq-body-small">{{ action2 }}</span>
          </button>
        </div>
      </div>
    </div>
    <img
      [attr.alt]="image1Alt"
      [attr.src]="image1Src"
      class="thq-img-ratio-16-9"
    />
  </div>
</div>
