<div class="detalhe-empresa-container">
  <app-banner1
    logo="{{ company.logo }}"
    slogan="{{ company.slogan }}"
    nome="{{ company.name }}"
    nomeFranquia="{{ company.name }}"
    telefone="{{ company.slogan }}"
    email="{{ company.email }}"
  ></app-banner1>

  <app-stats1
    description="{{ company.about }}"
    name="{{ company.name }}"
    email="{{ company.email }}"
    whatsapp="{{ company.whatsapp }}"
    image1Src="{{ company.logo }}"
  ></app-stats1>
  <app-team2></app-team2>
  <section class="detalhe-empresa-footer">
    <div class="detalhe-empresa-content">
      <div class="detalhe-empresa-main">
        <div class="detalhe-empresa-branding">
          <div class="detalhe-empresa-heading">
            <img
              alt="image"
              src="https://firebasestorage.googleapis.com/v0/b/explorecash-a6526.appspot.com/o/assets_web%2FXeco(1).svg?alt=media&amp;token=c0845173-511a-4ace-9c2d-a89d9a83ada2"
              class="detalhe-empresa-image"
            />
            <p class="detalhe-empresa-caption">
              Guia Comercial | Marketplace | Entregas
            </p>
          </div>
        </div>
        <div class="detalhe-empresa-links">
          <div class="detalhe-empresa-items">
            <button class="detalhe-empresa-link button button-clean">
              Find a guide
            </button>
            <button class="detalhe-empresa-link01 button button-clean">
              Find a tour
            </button>
            <button class="detalhe-empresa-link02 button button-clean">
              Visit a city
            </button>
            <button class="detalhe-empresa-link03 button button-clean">
              Visit a country
            </button>
          </div>
          <div class="detalhe-empresa-items1">
            <button class="detalhe-empresa-link04 button button-clean">
              How it works
            </button>
            <button class="detalhe-empresa-link05 button button-clean">
              Cancelation policy
            </button>
            <button class="detalhe-empresa-link06 button button-clean">
              Local guides
            </button>
            <button class="detalhe-empresa-link07 button button-clean">
              Affiliate
            </button>
          </div>
          <div class="detalhe-empresa-items2">
            <button class="detalhe-empresa-link08 button button-clean">
              About us
            </button>
            <button class="detalhe-empresa-link09 button button-clean">
              Blog
            </button>
            <button class="detalhe-empresa-link10 button button-clean">
              Partners
            </button>
            <button class="detalhe-empresa-link11 button button-clean">
              Faqs
            </button>
            <button class="detalhe-empresa-link12 button button-clean">
              Careers
            </button>
          </div>
        </div>
      </div>
      <span class="detalhe-empresa-copyright">
        © 2024 A&amp;S. All Rights Reserved.
      </span>
    </div>
  </section>
</div>
