<div class="banner1-container thq-section-padding">
  <div class="banner1-max-width thq-section-max-width">
    <div class="banner1-container1">
      <div class="banner1-container2">
        <img
          [attr.src]="logo"
          [attr.alt]="nome"
          class="banner1-image"
          width="200"
          height="200"
        />
      </div>
      <div class="banner1-container3" style="margin-left: 20">
        <h1 class="banner1-text">{{ nomeFranquia }}</h1>
        <span class="banner1-text1">{{ telefone }}</span>
        <span class="banner1-text2">{{ email }}</span>
      </div>
    </div>
  </div>
</div>
