<div class="thq-section-padding">
  <div class="stats1-max-width thq-section-max-width">
    <div class="stats1-container1 thq-flex-column">
      <div class="stats1-container2">
        <div class="stats1-container3">
          <h4 class="thq-heading-2">WhatsApp</h4>
          <span class="thq-body-small">{{ whatsapp }}</span>
        </div>
        <div class="stats1-container4">
          <h4 class="thq-heading-2">E-mail</h4>
          <span class="thq-body-small">{{ email }}</span>
        </div>
      </div>
      <!-- <div class="stats1-container5">
        <div class="stats1-container6">
          <h4 class="thq-heading-2">{{ stat3 }}</h4>
          <span class="thq-body-small">{{ stat3Description }}</span>
        </div>
        <div class="stats1-container7">
          <h4 class="thq-heading-2">{{ stat4 }}</h4>
          <span class="thq-body-small">{{ stat4Description }}</span>
        </div>
      </div> -->
      <h4 class="thq-heading-2">Sobre a {{ name }}</h4>
      <p class="thq-body-large">{{ description }}</p>
    </div>
    <div class="stats1-container8">
      <img
        [attr.alt]="image1Alt"
        [attr.src]="image1Src"
        class="thq-img-ratio-1-1 stats1-image"
      />
    </div>
  </div>
</div>
