<div class="gallery10-gallery3 thq-section-padding">
  <div class="gallery10-max-width thq-section-max-width">
    <div class="gallery10-section-title">
      <h2 class="gallery10-text thq-heading-2">{{ heading1 }}</h2>
      <span class="gallery10-text1 thq-body-large">{{ content1 }}</span>
    </div>
    <div class="gallery10-container">
      <div class="gallery10-content">
        <img
          [attr.alt]="image1Alt"
          [attr.src]="image1Src"
          class="gallery10-image1 thq-img-ratio-4-6"
        />
        <img
          [attr.alt]="image2Alt"
          [attr.src]="image2Src"
          class="gallery10-image2 thq-img-ratio-4-6"
        />
        <img
          [attr.alt]="image3Alt"
          [attr.src]="image3Src"
          class="gallery10-image6 thq-img-ratio-4-6"
        />
        <img
          [attr.alt]="image4Alt"
          [attr.src]="image4Src"
          class="gallery10-image7 thq-img-ratio-4-6"
        />
      </div>
    </div>
  </div>
</div>
