<div class="features1-layout251 thq-section-padding">
  <div class="features1-max-width thq-section-max-width">
    <div class="thq-flex-row features1-section-title">
      <div class="features1-column thq-flex-column">
        <span class="thq-body-small">{{ slogan }}</span>
        <h2 class="thq-heading-2 features1-text1">{{ sectionTitle }}</h2>
      </div>
      <span class="thq-body-small">{{ sectionDescription }}</span>
    </div>
    <div class="features1-content">
      <div class="features1-row thq-flex-row">
        <div class="features1-feature1 thq-flex-column">
          <img
            [attr.alt]="feature1ImageAlt"
            [attr.src]="feature1ImageSrc"
            class="thq-img-ratio-4-3 features1-feature1-image"
          />
          <div class="features1-content1 thq-flex-column">
            <h3 class="thq-heading-3">{{ feature1Title }}</h3>
            <span class="thq-body-small">{{ feature1Description }}</span>
          </div>
        </div>
        <div class="features1-feature2 thq-flex-column">
          <img
            [attr.alt]="feature2ImageAlt"
            [attr.src]="feature2ImageSrc"
            class="thq-img-ratio-4-3 features1-feature2-image"
          />
          <div class="features1-content2 thq-flex-column">
            <h3 class="thq-heading-3">{{ feature2Title }}</h3>
            <span class="thq-body-small">{{ feature2Description }}</span>
          </div>
        </div>
        <div class="features1-feature3 thq-flex-column">
          <img
            [attr.alt]="feature3ImageAlt"
            [attr.src]="feature3ImageSrc"
            class="thq-img-ratio-4-3 features1-feature3-image"
          />
          <div class="features1-content3 thq-flex-column">
            <h3 class="thq-heading-3">{{ feature3Title }}</h3>
            <span class="thq-body-small">{{ feature3Description }}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="features1-actions">
      <button class="thq-button-filled features1-button">
        <span class="thq-body-small">{{ mainAction }}</span>
      </button>
      <button class="thq-button-outline features1-button1">
        <span class="thq-body-small">{{ secondaryAction }}</span>
      </button>
    </div>
  </div>
</div>
