<div class="produto-detalhe-container">
  <h2 class="produto-detalhe-header">Crie sua franquia virtual!</h2>
  <app-features24
    feature1ImgSrc="{{ produto.imagesUrl[0].stringValue }}"
    feature1Title="{{ produto.name }}"
    feature1Description="{{ produto.description }}"
    salePrice="{{ produto.salePrice | currency : 'R$ ' }}"
  ></app-features24>
  <section class="produto-detalhe-footer">
    <div class="produto-detalhe-content">
      <div class="produto-detalhe-main">
        <div class="produto-detalhe-branding">
          <div class="produto-detalhe-heading">
            <img
              alt="image"
              src="https://firebasestorage.googleapis.com/v0/b/explorecash-a6526.appspot.com/o/assets_web%2FXeco(1).svg?alt=media&amp;token=c0845173-511a-4ace-9c2d-a89d9a83ada2"
              class="produto-detalhe-image"
            />
            <p class="produto-detalhe-caption">
              Guia Comercial | Marketplace | Entregas
            </p>
          </div>
        </div>
        <div class="produto-detalhe-links">
          <div class="produto-detalhe-items">
            <button class="produto-detalhe-link button button-clean">
              Find a guide
            </button>
            <button class="produto-detalhe-link01 button button-clean">
              Find a tour
            </button>
            <button class="produto-detalhe-link02 button button-clean">
              Visit a city
            </button>
            <button class="produto-detalhe-link03 button button-clean">
              Visit a country
            </button>
          </div>
          <div class="produto-detalhe-items1">
            <button class="produto-detalhe-link04 button button-clean">
              How it works
            </button>
            <button class="produto-detalhe-link05 button button-clean">
              Cancelation policy
            </button>
            <button class="produto-detalhe-link06 button button-clean">
              Local guides
            </button>
            <button class="produto-detalhe-link07 button button-clean">
              Affiliate
            </button>
          </div>
          <div class="produto-detalhe-items2">
            <button class="produto-detalhe-link08 button button-clean">
              About us
            </button>
            <button class="produto-detalhe-link09 button button-clean">
              Blog
            </button>
            <button class="produto-detalhe-link10 button button-clean">
              Partners
            </button>
            <button class="produto-detalhe-link11 button button-clean">
              Faqs
            </button>
            <button class="produto-detalhe-link12 button button-clean">
              Careers
            </button>
          </div>
        </div>
      </div>
      <span class="produto-detalhe-copyright">
        © 2024 A&amp;S. All Rights Reserved.
      </span>
    </div>
  </section>
</div>
