<div class="thq-section-padding">
  <div class="testimonial17-max-width thq-section-max-width">
    <div class="testimonial17-container">
      <h2 class="thq-heading-2">{{ heading1 }}</h2>
      <span class="testimonial17-text01 thq-body-small">{{ content1 }}</span>
    </div>
    <div class="thq-grid-2">
      <div class="thq-animated-card-bg-2">
        <div class="thq-animated-card-bg-1">
          <div data-animated="true" class="thq-card testimonial17-card">
            <div class="testimonial17-container02">
              <img
                [attr.alt]="author1Alt"
                [attr.src]="author1Src"
                class="testimonial17-image"
              />
              <div class="testimonial17-container03">
                <strong class="thq-body-large">{{ author1Name }}</strong>
                <span class="thq-body-small">{{ author1Position }}</span>
              </div>
            </div>
            <span class="testimonial17-text04 thq-body-small">
              {{ review1 }}
            </span>
          </div>
        </div>
      </div>
      <div class="thq-animated-card-bg-2">
        <div class="thq-animated-card-bg-1">
          <div data-animated="true" class="thq-card testimonial17-card1">
            <div class="testimonial17-container04">
              <img
                [attr.alt]="author2Alt"
                [attr.src]="author2Src"
                class="testimonial17-image1"
              />
              <div class="testimonial17-container05">
                <strong class="thq-body-large">{{ author2Name }}</strong>
                <span class="thq-body-small">{{ author2Position }}</span>
              </div>
            </div>
            <span class="testimonial17-text07 thq-body-small">
              {{ review2 }}
            </span>
          </div>
        </div>
      </div>
      <div class="thq-animated-card-bg-2">
        <div class="thq-animated-card-bg-1">
          <div data-animated="true" class="thq-card testimonial17-card2">
            <div class="testimonial17-container06">
              <img
                [attr.alt]="author3Alt"
                [attr.src]="author3Src"
                class="testimonial17-image2"
              />
              <div class="testimonial17-container07">
                <strong class="thq-body-large">{{ author3Name }}</strong>
                <span class="thq-body-small">{{ author3Position }}</span>
              </div>
            </div>
            <span class="testimonial17-text10 thq-body-small">
              {{ review3 }}
            </span>
          </div>
        </div>
      </div>
      <div class="thq-animated-card-bg-2">
        <div class="thq-animated-card-bg-1">
          <div data-animated="true" class="thq-card testimonial17-card3">
            <div class="testimonial17-container08">
              <img
                [attr.alt]="author4Alt"
                [attr.src]="author4Src"
                class="testimonial17-image3"
              />
              <div class="testimonial17-container09">
                <strong class="thq-body-large">{{ author4Name }}</strong>
                <span class="thq-body-small">{{ author4Position }}</span>
              </div>
            </div>
            <span class="testimonial17-text13 thq-body-small">
              {{ review4 }}
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
